@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&display=swap');


:root{

  /* TYPOGRAPHY */

  --pv-primary-font: "Kameron", sans-serif;
  --pv-secondary-font: "Oswald", sans-serif;

  --pv-text-font: var(--pv-primary-font);
  --pv-title-font: var(--pv-secondary-font);

  /* SPACING */

  --pv-padding-xs: 10px;
  --pv-padding-s: 20px;
  --pv-padding-m: 30px;
  --pv-padding-l: 40px;
  --pv-padding-xl: 50px;

  --pv-margin-xs: 10px;
  --pv-margin-s: 20px;
  --pv-margin-m: 30px;
  --pv-margin-l: 40px;
  --pv-margin-xl: 50px;

  --pv-gap-xs: 10px;
  --pv-gap-s: 20px;
  --pv-gap-m: 30px;
  --pv-gap-l: 40px;
  --pv-gap-xl: 50px;

  /* BORDER */

  --pv-borderRad: 10px;
  --pv-borderRadical: 50%;

  /* COOLORS */

  --pv-primary-color: #242424;
  --pv-secondary-color: #F1F1F1;
  --pv-accent-color: #C2FAFA;
  --pv-cardBg: #F9FAFF;

  --pv-backgroundColor: var(--pv-primary-color);
  --pv-backgroundColorLight: var(--pv-secondary-color);
  --pv-elementsColor: var(--pv-secondary-color);
  --pv-lightElementsColor: var(--pv-primary-color);
  --pv-detailsColor: var(--pv-accent-color);

}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--pv-backgroundColor);
  height: 150svh;
}

#app {
  padding-bottom: 100px;
}

a{
  list-style: none;
  text-decoration: none;
  color: var(--pv-elementsColor);
}

.light__body {
  background-color: var(--pv-backgroundColorLight);
}


/* HEADER */
.header__menu,
.header__menu2,
.header__menu3 {
  color: var(--pv-secondary-color);
  font-family: var(--pv-secondary-font);
  text-transform: uppercase;
  font-size: 18px;
}

.header__logo {
  width: 35px;
}

.header_logo_light {
  width: 35px;
}

.header__diversion{
  display: flex;
  flex-direction: row;
  gap: var(--pv-gap-m);
  justify-content: space-between;
  align-items: center;
  margin-top: var(--pv-margin-m);
  margin-inline: 50px;
}

.icons__diversion{
  display: flex;
  flex-direction: row;
  gap: var(--pv-gap-s);
  align-items: center;
}

.light__mode{
  background: url("./assets/light.svg");
  background-size: cover;
  width: 19px;
  height: 22px;
  border: none;
  transition: all 0.2s;
  cursor: pointer;
}

/* .light__mode:hover {
  transform: scale(1.1);
  rotate: 120deg;
} */

.dark__mode{
  background: url("./assets/dark.svg");
  background-size: cover;
  width: 20px;
  height: 20px;
  border: none;
  transition: all 0.2s;
  cursor: pointer;
}

.dark__mode:hover {
  rotate: -120deg;
}



/* FIRST SECTION */

.firstSection {
  display: flex;
  flex-direction: row;
  gap: var(--pv-gap-m);
  justify-content: center;
  align-items: center;
  margin: var(--pv-margin-xl);

}

.card__image1 > div {
  background: url("./assets/imgs/section1_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 350px;
  min-height: 350px;
  min-width: 250px;
  max-width: 300px;
  border-radius: var(--pv-borderRad);
}
.card__image2 > div {
  background: url("./assets/imgs/section1_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 350px;
  min-height: 350px;
  min-width: 250px;
  max-width: 300px;
  border-radius: var(--pv-borderRad);
}
.card__image3 > div {
  background: url("./assets/imgs/section1_3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 350px;
  min-height: 350px;
  min-width: 250px;
  max-width: 300px;
  border-radius: var(--pv-borderRad);
}

.firstSection1,
.firstSection2,
.firstSection3 {
  width: 80%;
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  overflow: hidden;
  border-radius: var(--pv-borderRad);
}

.card__image1,
.card__image2,
.card__image3 {      
  width: 100%;
  transition: all 0.3s;
}

.card__image1:hover,
.card__image2:hover,
.card__image3:hover {      
  transform: scale(1.2);
}

.card__image1 > div,
.card__image2 > div,
.card__image3 > div {
  max-width: 100%;
  height: 100%;
}

.card__overlay {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: 45px 0 0 0;    
  background-color: var(--pv-cardBg);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  gap: 2px;
}

.firstSection1:hover .card__overlay,
.firstSection2:hover .card__overlay,
.firstSection3:hover .card__overlay {
  transform: translateY(0);
}

.card__overlay h3{
  font-size: 16px;
  color: #242424;
  text-transform: uppercase;
  font-family: var(--pv-title-font);
}

.card__overlay button {
  font-size: 14px;
  color: #242424;
  background-color: transparent;
  font-family: var(--pv-text-font);
  border: none;
}




/* SECOND SECTION */

.secondSectionBanner {
  background: url("./assets/imgs/section2_1.jpg");
  height: 500px;
  width: 280px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: var(--pv-borderRad);
}

.secondSection,
.fourthSection {
  display: flex;
  justify-content: center;
  gap: var(--pv-gap-m);
  margin: var(--pv-margin-xl) 0;
}

.secondSectionBGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 43%;
}

.header__menu {
  font-family: var(--pv-title-font);
}

.darkmode__title{
  color: var(--pv-secondary-color);
  font-family: var(--pv-title-font);
  text-transform: uppercase;
  font-size: 50px;
}

.lightmode__title{
  color: var(--pv-lightElementsColor);
  font-family: var(--pv-title-font);
  text-transform: uppercase;
  font-size: 50px;
}

.lightmode__text_menu {
  color: var(--pv-lightElementsColor);
  font-family: var(--pv-title-font);
  font-size: 18px;
}

.darkmode__text_menu {
  color: var(--pv-secondary-color);
  font-family: var(--pv-title-font);
  font-size: 18px;
}

.lightmode__text {
  color: var(--pv-lightElementsColor);
  font-family: var(--pv-text-font);
  font-size: 15px;
}

.darkmode__text {
  color: var(--pv-secondary-color);
  font-family: var(--pv-text-font);
  font-size: 15px;
}

.secondSectionText,
.divFourthSectionText,
.divFourthSectionText2 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--pv-gap-xs);
    max-width: 100%;
}

.divFourthSectionText > :first-child {
  width: 80px;
}

.fourthSectionTextLine {
  background-color: var(--pv-elementsColor);
  border-radius: var(--pv-borderRad);
  height: 20px;
  width: 250px;
}

.secondSectionImage {
  background: url("./assets/imgs/section2_2.jpg");
  height: 50%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: var(--pv-borderRad);
}

.secondSectionBanner,
.secondSectionImage,
.firstImg1,
.firstImg2,
.firstImg3, 
.header__logo,
.header__icons,
.thirdSectionBanner,
.thirdSectionBanner2,
.fourthSectionTextLine {
  cursor: pointer;
  transition: all .23s;
}

/* .secondSectionBanner:hover,
.secondSectionImage:hover, */
.header__logo:hover,
.header__icons:hover,
.thirdSectionBanner:hover,
.thirdSectionBanner2:hover,
.fourthSectionTextLine:hover {
  transform: scale(1.1);
}

/* THIRD SECTION */

.thirdSection {
  display: flex;
  justify-content: center;
  gap: var(--pv-gap-xl);
  margin-top: var(--pv-margin-xl);
  flex-direction: row;
  margin: 50px;
}

.thirdSectionBanner {
  height: 300px;
  width: 100%;
  background: url("./assets/imgs/section3_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: var(--pv-borderRad);
}

.thirdSectionBanner2 {
  background: url("./assets/imgs/section3_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: var(--pv-borderRad);
  height: 300px;
  width: 100%;
}

.thirdSectionContent,
.thirdSectionContent2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fourthSectionText,
.fourthSectionText2 {
  width: 100%;
}


@media (max-width: 760px) {
  .firstSection {
    flex-direction: column;
    margin: 0;
    margin-top: var(--pv-margin-xl);
  }

  .firstImg1,
  .firstImg2,
  .firstImg3 {
    height: 250px;
    min-width: 80%;
    max-width: 80%;
  }

  .header__diversion {
    flex-direction: column;
  }

  .secondSectionText,
  .secondSectionImage {
    width: 100%;
  }

  .secondSection,
  .fourthSection,
  .thirdSection {
    flex-direction: column;
    align-items: center;
  }

  .secondSectionBGroup {
    gap: var(--pv-gap-m);
    width: 80%;
  }


  .thirdSectionBanner {
    width: 100%;
  }

  .secondSectionBanner {
    width: 80%;
  }

  .thirdSectionBanner2 {
    height: 300px;
    width: 100%;
  }

}


/* TEXT CAMBIANTE*/

span {
  contain: paint;
  padding: 1rem 0;
}

p {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  gap: 0.5ch;
  line-height: 0.9;
}

span:nth-of-type(2) {
  view-transition-name: swap;
  color: hsl(64, 100%, 50%);
}

/* span:first-of-type {
  view-transition-name: first;
} */
span:last-of-type {
  view-transition-name: last
}

::view-transition-new(swap),
::view-transition-old(swap) {
  height: 100%;
  object-fit: none;
  object-position: top left;
}

::view-transition-old(swap) {
  animation-name: slide-out;
  animation-duration: 0.75s;
    animation-timing-function: linear(
    0, 0.6832 7.89%, 0.9171 11.07%, 1.0251,
    1.1058 14.9%, 1.1619 16.86%,
    1.1945 18.91%, 1.2024 20.02%,
    1.2043 21.18%, 1.1907, 1.1598 26.27%,
    1.0604 32.59%, 1.0172 35.84%,
    0.9839 39.49%, 0.967 43.26%,
    0.9639 45.77%, 0.9661 48.59%,
    0.9963 60.54%, 1.0054 67.42%, 1
  );
}
::view-transition-new(swap) {
  animation-name: slide-in;
  animation-duration: 0.75s;
  animation-timing-function: linear(
    0, 0.6832 7.89%, 0.9171 11.07%, 1.0251,
    1.1058 14.9%, 1.1619 16.86%,
    1.1945 18.91%, 1.2024 20.02%,
    1.2043 21.18%, 1.1907, 1.1598 26.27%,
    1.0604 32.59%, 1.0172 35.84%,
    0.9839 39.49%, 0.967 43.26%,
    0.9639 45.77%, 0.9661 48.59%,
    0.9963 60.54%, 1.0054 67.42%, 1
  );
}

::view-transition-group(last) {
  animation-duration: 0.75s;
    animation-timing-function: linear(
    0, 0.6832 7.89%, 0.9171 11.07%, 1.0251,
    1.1058 14.9%, 1.1619 16.86%,
    1.1945 18.91%, 1.2024 20.02%,
    1.2043 21.18%, 1.1907, 1.1598 26.27%,
    1.0604 32.59%, 1.0172 35.84%,
    0.9839 39.49%, 0.967 43.26%,
    0.9639 45.77%, 0.9661 48.59%,
    0.9963 60.54%, 1.0054 67.42%, 1
  );
}

@keyframes slide-out {
  100% {
    opacity: 0;
    translate: 0 100%;
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    translate: 0 -100%;
  }
}

.textEffect {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: white;
    font-family: 'Kameron';
}